WordScrambleClientJS/Service References/WordScrambleService/WordScrambleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2170/WordScrambleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WordScrambleGameJS" />
  <xs:element name="GetScrambledWord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScrambledWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WordScrambleGameJS" minOccurs="0" name="GetScrambledWordResult" nillable="true" type="q1:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuessWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guessedWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encryptedUnscrambledWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuessWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuessWordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>